/* Mobile */
@media (min-width: 563px) {
  .mobile-bt {
    display: none;
  }
}

@media (max-width: 562px) {
  #nav > li {
    display: block;
  }

  #nav li:first-child {
    display: inline-block;
  }

  #nav {
    display: block;
  }

  #header .search-bt {
    display: none;
  }

  #header {
    overflow: hidden;
  }
}
