/* Body */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui;
}

.clear {
  clear: both;
}

.mt-16 {
  margin-top: 16px !important;
}

.mt-32 {
  margin-top: 32px !important;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.col {
  float: left;
  padding-right: 8px;
  padding-left: 8px;
}

.col-half {
  width: 50%;
}

.col-third {
  width: calc(100% / 3);
}

.col-full {
  width: 100%;
}
/* Body - End */

/* Header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46.5px;
  width: 100%;
  background-color: black;
  z-index: 1;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.357);
}

/* Header - Navigation */
#nav {
  font-size: 0;
  display: inline-block;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

nav,
.subnav {
  list-style-type: none;
}

#nav > li > a {
  color: white;
}
#nav li a {
  text-decoration: none;
  line-height: 46.5px;
  font-size: 16px;
  padding: 0 24px;
  display: block;
  text-transform: uppercase;
}

#nav li:hover .subnav {
  display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
  color: black;
  background-color: #cbcbcb;
}

#nav .subnav {
  display: none;
  position: absolute;
  background-color: white;
  top: 100%;
  min-width: 160px;
  box-shadow: 0 4px 16px #2424244a;
}

#nav .subnav a {
  color: black;
  padding: 0 36px;
  line-height: 38px;
  text-transform: none;
}

#nav .more i {
  padding-left: 4px;
  font-size: 15px;
}

#header .mobile-bt {
  position: absolute;
  top: 0;
  right: 0;
}

#header .search-bt,
#header .mobile-bt {
  float: right;
}

#header .search-bt .search-icon,
#header .mobile-bt {
  color: white;
  font-size: 15px;
  line-height: 46.5px;
  padding: 0 24px;
}

#header .search-bt:hover {
  background-color: red;
  cursor: pointer;
}

#header .mobile-bt:hover {
  background-color: #cbcbcb;
  cursor: pointer;
}
/* Header - End */

/* Slider */
#slider {
  background-image: url("https://snz04pap001files.storage.live.com/y4mvn3pbb_Ity2vEQZsAspkqNtXfRyUp7p_3fgb3widbK_w0v1aSSbNp1z7Fdq0SuCZM3PNIF_tLpfH70W2dpKvE9SBRcWNsB8MUwQgVD71lrXDzTSEFh4r6ukyCVdlISE3jMw8PoveGJdtRbRKrwbkDV-mZEeNa87PruOS7czl1XWUiJkEXqem4Iy414zXYwj6?encodeFailures=1&width=1200&height=600");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  margin-top: 46.5px;
  padding-top: 50%;
  position: relative;
}

#slider .text-content {
  position: absolute;
  color: rgb(255, 255, 255);
  bottom: 40px;
  width: 100%;
  text-align: center;
}

#slider .text-header {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 16px;
}

#slider .text-describe {
  font-size: 15px;
}
/* Slider - End */

/* Content */

/* Content - About Section */
#content .section {
  padding: 64px 0 112px 0;
  width: 800px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

#content .section-header,
#content .section-subHeader {
  text-align: center;
}

#content .section-header {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 4px;
}

#content .section-subHeader {
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  color: rgb(145, 145, 145);
  margin-top: 20px;
}

#content .section-content {
  font-size: 15px;
  text-align: justify;
  line-height: 1.5;
  margin-top: 15px;
}

#content .member-list {
  margin-top: 16px;
  overflow: hidden;
}

#content .member-item {
  float: left;
  width: calc(100% / 3);
  text-align: center;
}

#content .member-name {
  font-size: 16px;
}

#content .member-img {
  margin-top: 16px;
  width: 154px;
  border-radius: 4px;
}
/* About Section - End */

/* Tour Section */
.tour-section {
  background-color: black;
  color: white;
}

.tour-section .section-header {
  margin-top: 15px;
}
/* Tour Section - Booking */
.tour-section .book-ticket {
  background-color: white;
  color: black;
  border: 1px #d1d1d1 solid;
  margin-top: 36px;
  list-style: none;
  font-size: 16px;
}

.tour-section .book-ticket .month {
  padding: 8px 16px;
  color: #757575;
  border-bottom: 1px #d1d1d1 solid;
}

.tour-section .book-ticket .sell {
  background-color: #f44336;
  color: white;
  margin-left: 16px;
  padding: 0 8px;
  box-sizing: border-box;
}

.tour-section .book-ticket .sell-num {
  background-color: black;
  border-radius: 50%;
  padding: 2px 8px;
  color: white;
  float: right;
  margin-right: 16px;
  margin-top: -1px;
}

/* Tour Section - Travel */
.place-list {
  margin-top: 16px;
}

.place-item img {
  width: 100%;
  display: block;
}

.place-item .place-main {
  background-color: white;
  color: black;
  padding: 16px 16px;
}

.place-main .place-time {
  color: #757575;
  margin: 16px 0;
}

.place-main .place-describe {
  margin-bottom: 16px;
}

/* Tour Section - Button */
.place-main .buy-ticket {
  border: none;
  text-align: center;
  background-color: black;
  cursor: pointer;
  color: white;
  padding: 10px 16px;
  font-size: 15px;
}

/* Tour Section - Hover */
.place-item img:hover {
  opacity: 60%;
}

.place-main .buy-ticket:hover {
  background-color: #cccccc;
  color: black;
}
/* Tour Section - End */

/* Modal */
.modal.open {
  display: flex;
  
}

.modal.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.35);
  align-items: center;
  justify-content: center;
  z-index: 2;
  display: none;
}

/* Modal - Container */
.modal-container {
  position: relative;
  background-color: #fff;
  width: 900px;
  max-width: calc(100% - 32px);
  min-height: 200px;
  animation-name: modalFadeIn;
  animation-timing-function: ease;
  animation-duration: 0.3s;
  animation-delay: 0;
}

.modal-header {
  background-color: #009688;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  letter-spacing: 4px;
  color: white;
}

.modal-header .icon-bag {
  margin-right: 16px;
}

.close-btn {
  position: absolute;
  right: 0;
  padding: 20px 16px;
  color: white;
}

.close-btn:hover {
  background-color: #cccccc;
  color: black;
  cursor: pointer;
}

/* Modal - Body */
.modal-body {
  background-color: white;
  margin: 16px 0;
  padding: 0 20px;
}

.modal-input {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 15px;
  border: #cccccc 1px solid;
  margin: 16px 0;
}

.modal-input:focus {
  outline: none;
}

.pay-button {
  width: 100%;
  padding: 16px;
  border: none;
  background-color: #009688;
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
}

.pay-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* Modal - Footer */
.modal-footer {
  text-align: right;
  padding: 20px;
  margin-top: -12px;
}

.modal-footer a {
  color: #2196f3;
}

/* Modal - Animation */
@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Modal - End */

/* Content - Contact Section */
.contact-content {
  margin-top: 48px;
}

.contact-inf {
  font-size: 18px;
  line-height: 1.5;
}

.contact-inf i {
  display: inline-block;
  width: 30px;
  margin-left: 2px;
}

.contact-form .form-control {
  padding: 10px;
  font-size: 15px;
  border: #cccccc solid 1px;
  width: 100%;
}

.contact-form .form-control:focus {
  outline: none;
}

.contact-form .input-rd {
  margin-top: 12px;
}

.contact-form .input-send {
  border: none;
  background-color: black;
  color: white;
  font-size: 15px;
  padding: 10px 16px;
  float: right;
  margin-top: 16px;
}

.contact-form .input-send:hover {
  background-color: #cbcbcb;
  color: black;
  cursor: pointer;
}
/* Contact Section - End */

/* Content - End */

/* Map Section */
.map-section img {
  width: 100%;
  filter: grayscale(50%);
}
/* Map Section - End */

/* Footer */
#footer {
  padding: 64px 16px;
  text-align: center;
  color: #757575;
}

#footer a {
  color: #757575;
}

#footer .social-list {
  font-size: 24px;
}

#footer .social-list a {
  margin: 0 2px;
}

#footer .copyright {
  font-size: 15px;
  margin-top: 16px;
}

#footer a:hover {
  opacity: 0.8;
  cursor: pointer;
}
/* Footer - End */

/* Cuối cùng cũng xong :) [Website - Done] */
